#post{
    width:90%;
    margin: 0 auto 20px auto;
    overflow: hidden;
    height: 300px;
}
a #travel{
    background-image: url(travel.jpg)
}
.postclass{
    background-position: center;
    background-repeat: no-repeat;
    width: 46%;
    float: left;
    padding-top: 4%;
    padding-left: 2%;
    padding-right:2%;

}