h1{
   color : blueviolet;
   
}
.header{
    color: darkorange
}
.img-container {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}
#post{
  width:90%;
  margin: 0 auto 20px auto;
  overflow: hidden;
  height: 300px;
}
a #travel{
  background-image: url(travel.jpg);
  background-size: cover;
}
a #food{
  background-image: url(food.jpg);
  background-size: cover;
}
.postclass{
  background-position: center;
  background-repeat: no-repeat;
  width: 46%;
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  padding-top: 4%;
  padding-left: 2%;
  padding-right:2%;
  filter: brightness(100%);

}
a. .postclass:hover{
  filter: brightness(110%);
}
.postclass h3{
  width: 90%;
  font-size: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.postclass span,p,label{
  width: 75%;
  font-size: 16px;
}
.postclass p{
  font-size: 14px;
}
.postclass label{
  text-transform: uppercase;
}
